<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alfabeto</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Alfabeto</h1></div>
    </div>
    <div class="content">
        <div class="card">
            <h2>Lettere alfabeto italiano</h2>
            {% for animale in animali: %}
                <a href="{{ url_for('show_animal', index=animale['letter']) }}">  {{ animale["letter"] }}</a>
            {% endfor %}
        </div>
    </div>

</div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>